#drawer{
border: solid black 3px;
width: 700px;
height: 100px;
margin-top: 50px;
}
.ropa{
	width: 80px;
	height: 80px;
	margin-top: 5px;
	margin-left: 10px;
	border: solid black 3px;
	position: relative;

	display: inline-block;

}
#cabello_negro{
		
	width: 80px;
	height: 80px;
		position: absolute;
		background-color: red;
}
.prenda{
	position: absolute;
	display: none;
}
#torso,#piernas,#zapatos{
	z-index: 2 !important;
position: absolute !important;
top: 0px !important;
left: 0px !important;
}