#drawer{

width: 700px;
height: 100px;
margin-top: 50px;
background-image: url('drawer.png');
}
.ropa{
	width: 80px;
	height: 80px;
	margin-top: 5px;
	margin-left: 10px;
	/*border: solid black 3px;*/
	position: relative;

	display: inline-block;

}

.prenda{
	position: absolute;
	display: none;
}
#torso,#piernas,#zapatos{
	z-index: 2 !important;
position: absolute !important;
top: 0px !important;
left: 0px !important;
}
body{
	background-image: url('default-background.png');
}