body{
	//background-image: url('../repo/fondo_avatar.png') !important;
	//background-attachment: fixed;
	//background-repeat: no-repeat;
	background: url(../repo/fondo_avatar.png) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: "calibri bold", "comic sans",arial;
	font-size: large;
	
}

.pane2, .pane3, .pane4{
	text-align:center;
}

#contenedor{
	text-align: center;
	margin: 0 auto;
	width: 80%;
	height: 100%;
}
.importante{
	text-align: center;
	margin: 0 auto;
	width: 700px !important;
	height: 50%;
	background-color: #3bc1f8;
	padding: 0px 50px 20px 50px;
	color: white;
	font-size: large;
}
.logo{
	text-align: center;
	width: 400px;
	height: 150px;
	padding: 20px 20px 20px 20px;
}
.inicia{
	width: 20%;
	padding: 20px 20px 20px 20px;
}
.titulo{
	padding: 2px 2px 2px 2px;
	text-align: center;
	font-size: x-large;
	font-weight: bold;
	background-color: #3bc1f8;
	color: white;
}
.sexo{
	padding: 20px 20px 20px 20px;
	text-align: center;
}